<section>
    <ul *ngFor="let product of products">
        <li>
            <div>
                <span>{{product.name}}</span>
                <a [routerLink]="['/productsdetails', product.id]">more details</a>
                <button (click)="buy()">Buy!</button>
            </div>
        </li>
    </ul>
</section>